/* styles.css */

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: rgb(0, 0, 0);
  }

.fondo {
  background-image: url(../img/weather2.webp);
  /* height: 100vh; */
  margin-top: 0%;
  padding: -0px;
  
  background-size: cover;
  background-position: center;
  /* background-repeat: repeat; */
}





.content-container {
  height: 100%;
  overflow: auto;
}


  

  

